   <form>
	<h3>Create group</h3>
			<div class="row">
				<div class="col-md-6 d-flex">
					<div class="form-group mr-2  w-100">
						<label for="groupName" class="col-form-label">Group Name</label>
						<input type="text" class="form-control" id="groupName"
							placeholder="Enter Group Name" required>
					</div>
					<div class="form-group w-100">
						<label for="groupType" class="col-form-label">Group Type</label>
						 <select id="groupType" class="form-control" required>
							<option value="">Choose Group Type</option>
							#foreach($group_type in $dropdown)
							<option value=$group_type>$group_type</option>
							#end
						</select>
					</div>
				</div>
			</div>
			<div class="row  ">
				<div class="col-md-8  equal_heights">
					<label for="dropdownMenuButton" class="">Add Skills</label>
					<div class="input-group">
						<input type="text"
							class="form-control ajaxifySearchInput"
							placeholder="Search for...">
						<div class="dropdown-menu ajaxdropdown w-100" id="ajaxdropdownid" aria-labelledby="dropdownMenuButton">
							<div class='dropdown-item text-danger'>Enter Skill / Course Name...</div>
						</div>
						
						
								<button class="btn btn-secondary  dropdown-toggle"  data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton" type="button">
								<i class="fas fa-search"></i>
							</button>
						
					</div>
					<div class="row ">
						<div class="col-md-12 d-flex mt-3">
							<div class=" align-self-center mr-2">Or</div>
							<hr class="w-100 align-self-center" style="align-self: center;">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="">
								<label for="scanSkilTextarea">Scan job description</label>
								<textarea class="form-control" id="scanSkilTextarea" placeholder="Paste job description" rows="8"></textarea>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-4 equal_heights">

					<div class="d-flex justify-content-end">
						<div class="mr-auto p-2">
							<label for="exampleSkill">Selected Skills</label>
						</div>
						<div class="p-2">
							<i class="fas fa-square" style="color: #fd6d81;"></i> Course
						</div>
						<div class="p-2">
							<i class="fas fa-square" style="color: #7295fd;"></i> Skills
						</div>

					</div>
					<div id="exampleSkill" class="lightyellow-bg added-skills">
					</div>
				</div>
			</div>
			<div class="d-flex flex-row">
			<div class="col-md-8">
				 <div class="p-0 text-danger float-right"  style="display: none;"  id="skillValdationId"><small>This entry can not be empty for scan</small></div>
			</div>
			<div class="col-md-4">
			</div>
		</div>


			<div class=" row">
				<div class="col-md-8">
					<div class="d-flex justify-content-end w-100">
						<div class="p-2">
							<button type="button" id="scanSkillBtn" class="btn btn-outline-danger ">Scan</button>
						</div>
						<div class="p-2">
							<button type="submit" class="btn btn-danger">Create</button>
						</div>
					</div>
				</div>
			</div>
		   </form>


					<!-- Modal -->
<div class="modal fade" id="scanSkillModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">RECOMMEND SKILLS FOR JOB DESCRIPTION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="scanSkillModalBodyId">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>