	<div class="dropdown viksitdropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button"
					id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" data-search_div=$search_div_name data-search_value=$attribute_name
					aria-expanded="false">$dropdown_name</button>
				<div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
					<div class="dropdown-header">
						<input class="form-control search_dropdown" type="text"
							placeholder="Search">
					</div>
						#foreach($option in $optionsArray)
					<div class="dropdown-item">
						<div class="option-texts ">$option<i class="fas fa-check float-right white"></i>
						</div>
					</div>
					#end
				</div>
			</div>
			