/* start of  css for dropdown  */

.redcolor{
	color: red  !important;
}
.white{
	color: #ffffff !important;
}
.lightyellow-bg{
	background-color:#f9f9f9;
}
.gray-text{
	color:#585858;
}
.gray-bg{
	background-color: #ebebeb !important;
}
.white-bg{
	background-color: #ffffff !important;
}

.added-skills{
	    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
}
.create-group-alert{
	position:absolute;
 top: -4%;
    left: 50%;
    width: auto;
    transform: translate(-50%, 0);
}