/* start of  css for dropdown  */

.redcolor{
	color: red  !important;
}
.white{
	color: #ffffff !important;
}

.gray-bg{
	background-color: #ffffff !important;
}
.white-bg{
	background-color: #ffffff !important;
}

/* overriding active styling of dropdown */



/* end of  css for dropdown  */


.group-card-scroll {
	overflow-x: hidden;
		overflow-y: auto;
	
}