/* start of  css for dropdown  */

.redcolor{
	color: red  !important;
}
.white{
	color: #ffffff !important;
}
.lightyellow-bg{
	background-color:#f9f9f9;
}
.gray-text{
	color:#585858;
}
.gray-bg{
	background-color: #ebebeb !important;
}
.white-bg{
	background-color: #ffffff !important;
}

/* overriding active styling of dropdown */



/* end of  css for dropdown  */


.group-card-scroll {
	overflow-x: hidden;
		overflow-y: auto;
	
}