/* start of  css for dropdown  */
@media (min-width: 1200px){
.container{
   width: 1172px !important;
}
}


/* Start of group card shadow*/
.group-card-shadow{
  box-shadow:0px 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 0px 30px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
/* End of group card shadow*/



.group-card-title-font{
	    color: #eb384f;
}

.text-custom-muted {
    color: #bfbfbf!important;
}


/*start of custom background color*/

.white-bg{
	background-color: #ffffff !important;
}
.theme-bg{
		background-color: #eb384f !important;
	
}
/*end of custom background color*/

 


.group-card-scroll {
	overflow-x: hidden;
		overflow-y: auto;
	
}